.movies-list {
    margin: 0 70px 0;
}
.movies-list-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 20px;
    row-gap: 38px;
    margin: 0 auto 71px;
}

.movies-list__button-more {
    display: block;
    width: 320px;
    height: 36px;
    border: 1px solid #E8E8E8;
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #000000;
    margin: 0 auto 80px;
    padding: 0;
    border-radius: 5px;
    transition: opacity 0.3s linear;
    cursor: pointer;
  }
  
.movies-list__button-more:hover {
    opacity: 0.6;
}

.movies-list__button-more_type_hidden {
    display: none;
}

@media screen and (max-width: 940px) {

    .movies-list {
        margin: 0 30px 0;
    }

    .movies-list-container {
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
    }
}

@media screen and (max-width: 620px) {
    .movies-list {
        margin: 0 10px 0;
    }
    .movies-list-container {
        grid-template-columns: 1fr;
        column-gap: 0;
        padding: 50px 0 0;
        border-top: 1px solid #E8E8E8;
        margin: 0 auto 60px;
    }
    .movies-list__button-more {
        width: 240px;
        background-color: transparent;
        border: 1px solid #E8E8E8;
    }
}