.portfolio {
    margin: 0 70px 125px;
}

.portfolio__title {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    color: #A0A0A0;
    mix-blend-mode: normal;
    margin: 0 0 30px;
}

.portfolio__container {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
}

.portfolio__link {
    padding: 20px 0 0;
    border-bottom: 1px solid #E8E8E8;
    display: flex;
    text-decoration: none;
    justify-content: space-between;
    transition: opacity 0.3s linear;
}
.portfolio__link:hover {
    opacity: 0.6;
}

.portfolio__desc {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: -0.04em;
    color: #000000;
    margin: 0;
}
.portfolio__link-icon {
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 60px;
    letter-spacing: -0.04em;
    color: #000000;
}