.auth {
    max-width: 396px;
    margin: 70px auto 70px;
}
.auth__logo {
    margin: 0 0 40px;
}
.auth__title {
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    margin: 0 0 40px;
}
.auth__form {
    display: flex;
    flex-direction: column;
}
.auth__input-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 0 20px;
}
.auth__input-label {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #A0A0A0;
}
.auth__input {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    background-color: #F9F9F9;
    border-radius: 8px;
    border: none;
    padding: 15px;
}

.auth__error {
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
    color: #EE3465;
    position: relative;
    top: -10px
}
.auth__submit {
    height: 45px;
    margin: 59px 0 16px;
    padding: 0;
    border: none;
    background-color: #2BE080;
    border-radius: 3px;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #FFFFFF;
    cursor: pointer;
    transition: opacity 0.3s linear;
}
.auth__submit:hover {
    opacity: 0.6;
}

.auth__login-link-container {
    display: flex;
    justify-content: center;
    gap: 6px;
}
.auth__login-link-desc {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #A0A0A0;
}
.auth__login-link {
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #2BE080;
    transition: opacity 0.3s linear;
}
.auth__login-link:hover {
    opacity: 0.6;
}