.about-me {
    margin: 0 70px 100px;
}

.about-me__title {
    margin: 0 0 66px;
}

.about-me__container {
    display: flex;
    justify-content: center;
    gap: 270px;
}
.about-me__name {
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    color: #000000;
    padding: 0;
    margin: 0 0 18px;
}

.about-me__short-desc {
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #000000;
    mix-blend-mode: normal;
    padding: 0;
    margin: 0 0 26px;
}

.about-me__full-desc {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #000000;
    mix-blend-mode: normal;
    padding: 0;
    margin: 0 0 99px;
}

.about-me__github-profile-link {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
}
.about-me__photo {
    border-radius: 10px;
    width: 270px;
    height: 327px;
}